@import "../assets/sass/variables";

.custom-header {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: $c-yellow;
  height: 54px;

  .custom-container-header {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;

    .input-group {
      width: 92%;

      input.form-control {
        border-radius: 0.2rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      input.form-control:focus {
        box-shadow: none;
      }

      span {
        border-radius: 0.2rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        cursor: pointer;
      }
    }
  }
}